@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --gray: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  height: 550px;
  width: 22%;
  border: 2px solid var(--black);
  box-shadow: var(--black) 6px 10px;
  padding: 20px;
}

.container .article-img {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 15px;
}
